[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.103.0"
pymarc = "==5.1.0"
uvicorn = {version = "==0.23.2", extras = ["standard"]}
xmltodict = "==0.13.0"
zeep = {version = "==4.2.1", extras = ["async"]}
httpx = "==0.24.1"

[dev-packages]
pre-commit = "==3.3.3"
pytest = "==7.4.0"
pipenv = "==2023.8.26"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.11"
