[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.135.3"
pymarc = "==5.3.1"
uvicorn = {version = "==0.44.0", extras = ["standard"]}
xmltodict = "==1.0.4"
zeep = {version = "==4.3.2", extras = ["async"]}
httpx = "==0.28.1"

[dev-packages]
pre-commit = "==4.5.1"
pytest = "==9.0.3"
pipenv = "==2026.5.2"
ruff = "*"
mypy = "*"

