[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.73.0"
pymarc = "==4.1.2"
requests = "==2.27.1"
uvicorn = {version = "==0.17.0.post1", extras = ["standard"]}
xmltodict = "==0.12.0"
zeep = "==4.1.0"

[dev-packages]
pre-commit = "==2.17.0"
pytest = "==6.2.5"
pipenv = "==2022.1.8"
black = "*"
flake8 = "*"
reorder-python-imports = "*"
mypy = "*"

[requires]
python_version = "3.10"
