anyio
asgiref
attrs
cached-property
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
isodate
lxml
platformdirs
pydantic
pymarc
pytz
requests
requests-file
requests-toolbelt
six
sniffio
starlette
typing-extensions
urllib3
uvicorn[standard]
xmltodict
zeep
